*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body{
    height: 100vh;
    background: linear-gradient(#365347,#477D5D);/*3C654D*/
}

.clear{
	clear: both;
}

/* Trabalhando as linhas */

.espaco-up{
    width: 100%;
    height: 30px;
}

.line-up{
    width: 50vw;
    height: 100vh;
    max-height: calc(50vh - 205px);
    border-right: 2px solid rgba(255, 255, 255, 0.2);  
}

.espaco-card{
    width: 100%;
    height: 100vh;
    max-height: 350px;
}

.line-down{
    width: 50vw;
    height: calc(50vh - 205px);
    border-right: 2px solid rgba(255, 255, 255, 0.2);  
}

/* Trabalhando o CARD */

.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 550px;
    height: 100vh;
    max-height: 350px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 47px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 47px -17px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 47px -17px rgba(0,0,0,0.75);
    padding: 20px;
}

.autor{
    display: flex;
    align-items: center;
}

.img-autor{
    width: 70px;
    height: 70px;
    background-image: url('../img/autor.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 35px;
    opacity: 0.8;
    margin-right: 20px;
    box-shadow: 0px 0px 45px -5px rgba(0,0,0,0.75);
}

.text-autor h1{
    font-weight: 400;
    font-size: 30px;
    color: white;
}

.text-autor p{
    font-weight: 300;
    font-size: 14px;
    color: white;
    font-style: italic;
}


/*.filtro{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    border-radius: 10px;
}*/



.logo{
    position: absolute;
    right: 10px;
    bottom: 30px;
	width: 220px;
    height: 80px;
	background-image: url('../img/logo-sem-fundo.png');
	background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.7;
}


/*

nav.menu{
    float: right;
    position: relative;
    top: 20px;
	width: 500px;
	height: 25px;
	text-align: center;
}

nav.menu ul{
	list-style-type: none;
}

nav.menu li{
	float: left;
	margin-left: 30px;
}

nav.menu li a{
	text-decoration: none;
	color: white;
    font-size: 20px;
    font-weight: 200;
}

nav.menu li a:hover{
	font-weight: 300;
}
*/